.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #fecbac;
  overflow: hidden;
}

/* ============ Container =============== */
.container {
  margin-top: 8vh;
  padding-top: 5vh;
  width: 35vw;
  height: 75vh;
  margin-left: 33vw;
  text-align: center;
  color: #343981;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 7px #130f0f;
}
.container .input {
  display: flex;
  justify-content: center;
}
.container input {
  font-size: 25px;
  margin-top: 10px;
}
.container .btn {
  margin-top: 10px;
  margin-left: 1vw;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  background: rgba(16, 16, 224, 0.815);
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
}
.container .btn:hover {
  background: #5869ad;
  text-decoration: none;
}

/* =============== todo-container ============== */
.todo-container {
  height: 50vh;
  overflow: auto;
}
.todo-container .edit {
  display: flex;
  justify-content: space-around;
}
.todo-container .edit button {
  color: rgb(61, 59, 59);
  border: none;
  font-size: 15px;
  background: transparent;
}
.todo-container .todo-ol {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.todo-container .todo-ol button {
  font-size: 20px;
  color: rgb(61, 59, 59);
  background: transparent;
  cursor: pointer;
  border: none;
}

.todo-container .todo-ol input {
  color: #343981;
  border: none;
  cursor: pointer;
}
.todo-container .todo-ol input::placeholder {
  color: #343981;
}
