.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 7vh;
  background-color: #fecbac;
  overflow: hidden;
}

/* ============ Container =============== */
.container {
  padding-top: 5vh;
  width: 35vw;
  height: 75vh;
  margin-left: 33vw;
  text-align: center;
  color: #343981;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 7px #130f0f;
}
.container .input {
  display: flex;
  justify-content: center;
}
.container input {
  font-size: 25px;
  margin-top: 10px;
}
.container .btn {
  margin-top: 10px;
  margin-left: 1vw;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  background: rgba(16, 16, 224, 0.815);
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
}
.container .btn:hover {
  background: #5869ad;
  text-decoration: none;
}

/* =============== todo-container ============== */
.todo-container {
  height: 50vh;
  overflow: auto;
}
.todo-container .todo-ol {
  display: flex;
  margin: 0;
  padding: 0;
}
.todo-container .todo-ol button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 80px;
  font-family: Arial;
  color: #ff0000;
  font-size: 20px;
  background: transparent;
  border: none;
}

.todo-container .todo-ol h2 {
  margin-left: 80px;
}
